<h3>Edit content of <%= @filename %></h3>
<form action="/<%= @filename %>" method="post">
  <textarea type="text" name="content_text" rows="20" cols="80">
    <%= @content %>
  </textarea><br>
  <button type="submit">Save Changes</button>
</form>