<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>
<br>
<p><a href="/new">New Document</a></p>

<form action="/session/signout" method="post">
  <label for="sign out">Signed in as admin.</label>
  <button type="submit" name="sign out">Sign Out</button>
</form>