<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form action="/<%= file %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>
<br>
<p><a href="/new">New Document</a></p>