<form action="/data" method="post">
  <label for="new file">Add a new document:</label>
  <br>
  <input type="text" name="filename" id="filename" value="<%= params[:filename] || "Enter a new name!" %>">
  <button>Create</button>
</form>