<form action="/session" method="post">
  <label for="username">Username:</label>
  <input name="username" value="<%= params[:username] || nil %>">
  <br>
  <label for="password">Password:</label>
  <input name="password">
  <br>
  <button type="submit">Sign In</button>
</form>